@{
    ViewData["Title"] = "Add Genre to " + ViewBag.FilmItem.Name;
}
<h2>@ViewData["Title"]</h2>

<form asp-action="AddGenre" method="post">
    <div class="form-group">
        <label>Genre</label>
        <div><span class="text-danger"></span></div>
        <select name="Genre" multiple="multiple" class="form-control" style="height: 500px;" asp-items="ViewBag.Genres"></select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Add Genre</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
