@model MovieProject.Models.FilmItem
@using MovieProject.Infrastructure;

@{
    ViewData["Title"] = @Model.Name + " - Genres";
}

<div class="row">
    <img src="/images/filmitem/@(Model.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@Model.Name" width="100%">
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Genres</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model.FilmItemGenres.Select(g => g.Genre))
            {
                <tr>
                    <td>
                        <text>@genre.Name</text>
                    </td>
                    <td>
                        <form asp-action="Genre" asp-route-id="@genre.Id" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <a asp-action="AddGenre" class="btn btn-primary">Add Genre</a>
        <a asp-action="Details" class="btn btn-secondary">Cancel</a>
    </div>
</div>