@{
    ViewData["Title"] = "Add Series";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Name</label>
        <div><span class="text-danger"></span></div>
        <input name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <div><span class="text-danger"></span></div>
        <textarea name="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Release Date</label>
        <div><span class="text-danger"></span></div>
        <input type="date" name="ReleaseDate" class="form-control" />
    </div>
    <div class="form-group">
        <label>Average Runtime</label>
        <div><span class="text-danger"></span></div>
        <input type="number" name="EpisodeRunTime" class="form-control" />
    </div>
    <div class="form-group">
        <label>Language</label>
        <div><span class="text-danger"></span></div>
        <input name="OriginalLanguage" class="form-control" />
    </div>
    <div class="form-group">
        <label>Status</label>
        <div><span class="text-danger"></span></div>
        <input type="text" name="Status" class="form-control" />
    </div>
    <div class="form-group">
        <label>Genre</label>
        <div><span class="text-danger"></span></div>
        <select name="Genre" multiple="multiple" class="form-control" asp-items="ViewBag.Genres"></select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
