@model MovieProject.Models.Series
@{
    ViewData["Title"] = "Edit: " + @Model.Name;
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <div><span asp-validation-for="Description" class="text-danger"></span></div>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="FirstAirDate"></label>
        <div><span asp-validation-for="FirstAirDate" class="text-danger"></span></div>
        <input type="date" asp-for="FirstAirDate" class="form-control" />
    </div>
    <div class="form-group">
        <label>Upload Poster using this form:</label>
        <div><span class="text-danger"></span></div>
        <input type="file" id="Poster" name="Poster" />
    </div>
    <div class="form-group">
        <label>Upload Banner using this form:</label>
        <div><span class="text-danger"></span></div>
        <input type="file" id="Banner" name="Banner" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
