@{
    ViewData["Title"] = "Add Movie";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label>Name</label>
        <div><span class="text-danger"></span></div>
        <input name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <div><span class="text-danger"></span></div>
        <textarea name="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Runtime</label>
        <div><span class="text-danger"></span></div>
        <input type="number" name="Runtime" class="form-control" />
    </div>
    <div class="form-group">
        <label>Release Date</label>
        <div><span class="text-danger"></span></div>
        <input type="date" name="ReleaseDate" class="form-control" />
    </div>
    <div class="form-group">
        <label>Budget</label>
        <div><span class="text-danger"></span></div>
        <input type="number" name="Budget" class="form-control" />
    </div>
    <div class="form-group">
        <label>Revenue</label>
        <div><span class="text-danger"></span></div>
        <input type="number" name="Revenue" class="form-control" />
    </div>
    <div class="form-group">
        <label>Status</label>
        <div><span class="text-danger"></span></div>
        <select name="Status" class="form-control" asp-items="@(Html.GetEnumSelectList<Status>())"></select>
    </div>
    <div class="form-group">
        <label>Upload Poster using this form:</label>
        <div><span class="text-danger"></span></div>
        <input type="file" id="Poster" name="Poster" />
    </div>
    <div class="form-group">
        <label>Upload Banner using this form:</label>
        <div><span class="text-danger"></span></div>
        <input type="file" id="Banner" name="Banner" />
    </div>
    <div class="form-group">
        <label>Genre</label>
        <div><span class="text-danger"></span></div>
        <select name="Genre" multiple="multiple" class="form-control" asp-items="ViewBag.Genres"></select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
